#grid {
    -fx-padding: 20px;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-hgap: 20px;
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-border-color: #81bef7;
    -fx-border-width: 4px;
    -fx-padding: 5px;
    -fx-border-radius: 4px;
    -fx-background-color: #e0f2f7;
}

.button {
    -fx-padding: 10px;
}

#omatPisteet, #koneenPisteet {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}